.navbar.navbar-transparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Adjust the z-index as needed to ensure the navbar appears above other elements */
    /* background-color: rgba(255, 255, 255, 0.7); 70% white, 30% transparent */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(12px); /* Optional: Apply a blur effect to the background */
  }
  


  @media (max-width: 768px) {
    .mx-5 {
      margin-left: 0;
      margin-right: 0;
    }
  }