.App {
  text-align: center;
}

.map {
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-secondary);
}

.border-bottom-width{
  border-bottom-width: 4px; /* Adjust the thickness as desired */
}
.transparent-frame{
      background-color: rgba(255, 255, 255, 0.7); /* 70% white, 30% transparent */
    backdrop-filter: blur(5px); /* Optional: Apply a blur effect to the background */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
