.App {
  text-align: center;
}

.map {
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 100%;
  width: 100%;
}


.App-link {
  color: #61dafb;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-secondary);
}

.border-bottom-width{
  border-bottom-width: 4px; /* Adjust the thickness as desired */
}

